.introduction-main {
    display: flex;
    max-width: 56rem;
    width: 100%;
    align-items: center;
    margin-top: 5rem;
    gap: 5rem;
}

.introduction-header {
}

.introduction-image {
    width: 200px;
    height: 200px;
    border-radius: 2rem;
    object-fit: cover;
}

.introduction-title {
    margin: auto;
    margin-bottom: 0.5rem;
    font-size: 3.2rem;
    font-weight: lighter;
    text-shadow: 0.5px 1px rgba(255, 255, 255, 0.3);
}

.introduction-description {
    margin: auto;
    color: white;
    font-size: 1.2rem;
    text-shadow: 0.2px 0.2px rgba(255, 255, 255, 0.9);
    font-weight: lighter;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

span {
    font-size: 1.3rem;
    color: rgb(142, 125, 252);
    text-shadow: 0.2px 0.2px rgba(0, 0, 0, 0.9);
    font-weight: 600;
}

@media (max-width: 768px) {
    .introduction-main {
        justify-content: center;
    }

    .introduction-image {
        width: 150px;
        height: 150px;
    }

    .introduction-title {
        font-size: 2rem;
        margin-bottom: 2rem;
        margin: 0;
        margin-bottom: 0.5rem;
    }

    .introduction-description {
        font-size: 1rem;
    }

    .project-section {
        gap: 1.5rem;
    }
}